{% extends "base_auth.html" %}
{% load static %}
{% block content %}

<div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        
        <div class="card mt-5 shadow">
        
            <div class="card-body">
                <div class="card-title py-2">
                    <h4>Register for a free account</h4>
                </div>
                    <form action="" method="post">

                        <div class="form-group mb-3">
                            <input type="text" name="username" placeholder="username"id="usernameField" class="form-control form-control-sm">
                        </div>
                        <div class="invalid-feedback" style="display: none;"></div>
                        <p class="text-sm text-success usernameSuccessOutput"></p>
                        <div class="form-group mb-3">
                            <input type="email" name="email" placeholder="email" id="emailField" class="form-control form-control-sm">
                        </div>
                        <div class="emailFeedback" style="display: none;"></div>
                        
                        <p class="text-sm text-success emailSuccessOutput"></p>

                        <div class="form-group mb-3">
                            <input type="password" name="password" placeholder="password" id="passwordField" class="form-control form-control-sm">

                            <div class="text-end py-2">
                                <small class="float-end" style="cursor:pointer">SHOW</small>
                            </div>
                    
                        </div>
                        <div class="d-grid gap-2 mt-4">

                        <input type="submit" value="Register" class="btn btn-primary btn-sm" />
                        </div>
                    </form>
        </div>
            
        </div>


    </div>
    <div class="col-md-4"></div>
</div>
<script src="{%static 'js/register.js'%}"></script>

{% endblock  %}