{% extends "base.html" %}


{% block content %}

<h1>expenses list</h1>
<ul class="list-grp">
    <li class="list-grp-item">bought crochet yarn</li>
    <li class="list-grp-item">bought crochet yarn</li>
    <li class="list-grp-item">bought crochet yarn</li>
    <li class="list-grp-item">bought crochet yarn</li>
    <li class="list-grp-item">bought crochet yarn</li>
    <li class="list-grp-item">bought crochet yarn</li>
    <li class="list-grp-item">bought crochet yarn</li>
</ul>

{% endblock  %}